<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301.mmabuyo.readysetpress" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsDialogActivity"
            android:label="@string/title_activity_instructions_dialog" >
        </activity>
        <activity
            android:name=".SingleModeTrainingActivity"
            android:label="@string/title_activity_single_mode_training" >
        </activity>
    </application>

</manifest>
